<h1 class="logo">Man Pages Cheatsheet</h1>
<ul>
	<div class="nav-link"><li><a href="/"><div class="button">Home</div></a></li></div>
	<div class="nav-link"><li><a href="/search"><div class="button">Search</div></a></li></div>
	<div class="nav-link"><li><a target ="_blank" href="https://www.google.com"><div class="button">Google</div></a></li></div>
</ul>