<html>
	<head>
		<title>Man Pages</title>
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body>
		<header>
			<%= erb :_header %>
		</header>
		<div class="body">
			<%= yield %>
		</div>
	</body>
</html>